<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FBPrimaryLanguageList</key>
	<array>
		<string>zh-Hant</string>
		<string>zh-Hans</string>
		<string>ja</string>
		<string>ko</string>
		<string>ar</string>
		<string>he</string>
		<string>gu</string>
		<string>hi</string>
		<string>pa</string>
		<string>th</string>
		<string>hy</string>
		<string>ta</string>
		<string>bn</string>
	</array>
	<key>FBDefaultSizeList</key>
	<array>
		<string>9</string>
		<string>10</string>
		<string>11</string>
		<string>12</string>
		<string>13</string>
		<string>14</string>
		<string>18</string>
		<string>24</string>
		<string>36</string>
		<string>48</string>
		<string>64</string>
		<string>72</string>
		<string>96</string>
		<string>144</string>
		<string>288</string>
	</array>
</dict>
</plist>
